p {
    color : rgb(190, 135, 6);
    font-weight : bold;
    font: size 100px; ;
}

h1 {
    border : 50px solid rgb(184, 86, 214);
    background-color:rgb(184, 86, 214);
 
}
 #header {
    background-color:rgb(184, 86, 214);
    height: 200px;
}
img{
    margin-left: 30px;
    margin-top: -50px;
    height: 140px;
    border: lid lavenderblush;
}
       

