<<<<<<< HEAD:Allwork/p.css
p {
    color : rgb(190, 135, 6);
    font-weight : bold;
    font: size 100px; ;
}

h1 {
    border : 50px solid rgb(184, 86, 214);
    background-color:rgb(184, 86, 214);
 
}
 #header {
    background-color:rgb(184, 86, 214);
    height: 200px;
}
img{
    margin-left: 30px;
    margin-top: -50px;
    height: 140px;
    border: lid lavenderblush;
}
       

=======
p {
    color : rgb(190, 135, 6);
    font-weight : bold;
    font: size 100px; ;
}

h1 {
    border : 50px solid rgb(184, 86, 214);
    background-color:rgb(184, 86, 214);
 
}
 #header {
    background-color:rgb(184, 86, 214);
    height: 200px;
}
img{
    margin-left: 30px;
    margin-top: -50px;
    height: 140px;
    border: lid lavenderblush;
}
h2 {
    color : rgb(108, 7, 171);
    font-weight : bold;
    font: size 100px; ;
}
h4 {
    color : rgb(72, 141, 244);
    font-weight : bold;
    font: size 100px; ;
} 
h3 {
    color : rgb(2, 27, 68);
    font-weight : bold;
    font: size 100px; ;
}             
footer {
    background-color:rgb(225, 170, 241);
    height: 100px;
}
>>>>>>> fb83c5fff6f74d94471ad2c1db779a4d8ffe2159:p.css
